#c11 {
    font-weight: bold;
    font-size: 22px;
    text-indent:10px;
    text-decoration-line: underline;
    

}

#c12 {
    text-indent: 90px ;
}

#c13{
    text-indent: 90px;

}

#C21 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;
}

#c22 {
    text-indent: 90px;
}

#c23 {
    text-indent: 90px;
}

#c31 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;

}

#c32 {
    text-indent: 90px;
}

#c33 {
    text-indent: 90px;
}

#c41 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;

}

#c42 {
    text-indent: 90px;
}

#c43 {
    text-indent: 90px;
}

#a11 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;

}

#a12 {
    text-indent: 90px;
}

#a13 {
    text-indent: 90px;
}

#a21 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;

}

#a22 {
    text-indent: 90px;
}

#a23 {
    text-indent: 90px;
}

#i11 {
    font-weight: bold;
    font-size: 22px;
    text-indent: 10px;
    text-decoration-line: underline;

}

#i12 {
    text-indent: 90px;
}

#i13 {
    text-indent: 90px;
}

#T1 {
    color :#85BB65;
    font-style: italic;
    text-shadow: 2px 2px grey;
}